/*========================= banner ====================*/
.banner_header {
    position: relative;
    // padding: 130px 0;
    padding-top: 265px;
    padding-bottom: 130px;
    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(142deg, rgb(28, 187, 180) 0%, rgb(142, 243, 120) 99%);
        opacity: 0.4;
    }
    .left_hero_wrap {
        .hero_lftsld_cont {
            margin-bottom: 120px;
            .hero_heading {
                font-size: 60px;
                line-height: 80px;
                font-family: $fontspectral;
                font-weight: 800;
                color: $theme-colortwo;
                text-transform: $text-cap;
                margin-bottom: $mb15;
            }
            .hero_pra {
                color: $theme-color;
                font-size: 16px;
                line-height: $f-hight;
                font-family: $fontkarla;
                font-weight: $f-weight-r;
                max-width: 500px;
                width: 100%;
                margin-bottom: $mb55;
            }
            .hero_btn {
            }
        }
        .hero_socical_media {
            ul {
                li {
                    display: inline-block;
                    list-style: none;
                    margin-right: 35px;
                    span {
                    }
                    a {
                        display: inline-block;
                        font-size: 18px;
                        color: $theme-color;
                        text-decoration: none;
                        @include transition(0.5s);
                        &:hover {
                            color: $theme-bg;
                        }
                    }

                    &:first-child {
                        margin-right: 40px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .img_right_slide {
        position: relative;
        z-index: 4;
        &::before {
            background-color: #01aeb2;
            opacity: 0.2;
            position: absolute;
            left: auto;
            top: -45px;
            width: 461px;
            height: 679px;
            z-index: -1;
            content: "";
            right: -45px;
            transform: skew(0deg, -5deg);
        }
    }
}

/*========================= home two banner  ====================*/
.banner_header.home-two {
    padding-top: 190px;
    padding-bottom: 150px;
    overflow: hidden;
    &::before {
        background: #ff6b4f url(../image/banner/02_Index.jpg) no-repeat center/cover;
    }
    &::after {
        border-bottom: 1px solid #e8e7e6;
        max-width: 1520px;
        width: 100%;
        position: absolute;
        bottom: 0;
        content: "";
        left: 0;
        right: 0;
        margin: 0 auto 25px;
        text-align: center;
        display: block;
        
    }
    .go_down {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        background: #fff;
        border: 1px solid #e8e7e6;
        border-radius: 50px;
        a {
            text-decoration: none;
            color: $theme-bg;
            font-size: 35px;
            line-height: 35px;
        }
    }
    .left_hero_wrap{
        padding-top: 245px;
        .hero_lftsld_cont {
            .home2_btn {
                li {
                    display: inline-block;
                    a {
                        margin-right: 20px;
                    }
                    a.popup_video {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        border: 1px solid $theme-bg;
                        border-radius: 50%;
                        @include transition(0.5s);
                        margin: 0 auto;
                        text-align: center;
                        text-decoration: none;
                        position: relative;
                        color: $theme-bg;
                        &::before {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            transform: translate(-50%, -50%);
                            box-shadow: 0px 1px 15px 1px rgba(255, 107, 79, 1);
                            content: "";
                            z-index: 1;
                            animation: videoplay 2s linear infinite;
                        }
                    }
                }
            }
        }
    }

    .img_right_slide {
        position: relative;
        img {
            border-bottom-left-radius: 100px;
        }
        &::before {
            display: none;
        }
        .video_play {
            position: absolute;
            left: 110px;
            bottom: 90px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $theme-bg;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition(0.5s);
            .popup_video {
                &::before {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    animation:  videoplay 2s linear infinite;
                    box-shadow: 0px 1px 15px 1px $color-white;
                    content: "";
                    z-index: 1;
                }
                text-decoration: none;
                i {
                    color: $color-white;
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
    }
}
/*========================= home three banner  ====================*/

.hme_three {
    &::before {
        background-image: linear-gradient(182deg, #266de8 29%, #ffffff 72%, #ffffff 99%);
        opacity: 0.102;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    .left_hero_wrap {
        position: relative;
        z-index: 4;
        .hero_lftsld_cont{
            width: 100%;
            max-width: 800px;
            margin: 0 auto 90px;
        }
    }
    /*--------second row video play------*/ 
    .header_video_pup {
        position: relative;
        .video_play {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $theme-bg;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition(0.5s);
            .popup_video {
                &::before {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    animation:  videoplay 2s linear infinite;
                    box-shadow: 0px 1px 15px 1px $color-white;
                    content: "";
                    z-index: 1;
                }
                text-decoration: none;
                i {
                    color: $color-white;
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
    }
}

