/*========================= chooseus ====================*/
.why_choseus_wrap{
    background-color:$theme-colortwo ;
    padding: 100px 0 150px;
    overflow: hidden;
    position: relative;
    .chose_noise_one {
        position: absolute;
        top: 165px;
        left: 215px;
    }
    .chose_noise_two{
        position: absolute;
        left: 115px;
        bottom: 208px;
    }
    .chose_noise_three{
        position: absolute;
        right: 340px;
        top: 105px;
    }
    .chose_noise_four{
        position: absolute;
        right: 168px;
        top: 290px;
    }
    .chose_noise_five{
        position: absolute;
        left: 655px;
        top: 35px;
    }
    .chose_noise_eight {
        position: absolute;
        right: 168px;
        bottom:200px; 
    }
        .choseus_left{
            // position: relative;
            padding-top: 70px;
            .glbal_title {
                text-align: left;
                margin-bottom: 13px;
                font-family: $fontspectral;
            }
            .glbal_min_head{
                text-align: left;
                margin: 0 auto 10px 0;
                max-width: 465px;
                font-family: $fontspectral;
                color: $color-white;
            }
            p {
                max-width: 500px;
                width: 100%;
                margin-bottom: 15px;
                font-family: $fontkarla;
                color: $color-white;
            }
            .choseus_left_check {
                ul {
                    li{
                        margin-bottom: 9px;
                        display: inline-block;
                        &:last-child {
                            margin-bottom: 27px;
                        }
                        a {
                            font-size: $f-size;
                            line-height: $f-hight;
                            text-decoration: none;
                            font-family: $fontkarla;
                            color: $color-white;
                            i {
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
            .chose_noise_six {
                position: absolute;
                bottom: 85px;
                left:390px;
            }
        }
    .about_left_img {
        position: relative;
        img {
            z-index: 5;
            position: relative;
        }
        .video_play {
            a.popup_video {
                z-index: 6;
                &::after {
                }
                img {

                }
            }
        }
        &::before {
            background-color: #163d49;
            opacity: 1;
            position: absolute;
            width: 449px;
            height: 472px;
            content: "";
            bottom: -50px;
            right: -50px;
            z-index: 1;
        }
        .video_pattern {
            img{
                position: absolute;
                right: -56px;
                top: 80px;
                z-index: 7;
            }
        }
        .chose_noise_seven {
            position: absolute;
            bottom: -85px;
            right: 200px;
        }

    }
}