// 
/*========================= play keyframes ====================*/
@keyframes videoplay {
    0% {
        opacity: 1;
        width: 0;
        height: 0;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
        transform: translate(-50%, -50%);
    }
}