/*========================= project gallery ====================*/
.project_gallery {
    position: relative;
    padding: 60px 0 120px;
    overflow-x: hidden;
    // &::before {
    //     position: absolute;
    //     content: "";
    //     background-image: linear-gradient(142deg, rgb(38, 109, 232) 29%, rgb(212, 128, 236) 72%, rgb(119, 42, 219) 99%);
    //     width: 400px;
    //     height: 1966px;
    //     left: 600px;
    //     transform: skew(-55deg, 25deg);
    //     opacity: 0.1;
    //     max-width: 100%;
    //     z-index: -1;
    // }
    .Proj_center{
        .glbal_min_head{
            max-width: 420px;
            margin: 0 auto 36px;
            text-align: center;
        }
    }
    .portfolio_viemore {
        padding-bottom: 55px;
    }

    .service_row_{
        padding-top: 55px;
        .glbal_min_head{
            margin: 0 auto 45px;
            text-align: center;
        }
    }
    .portfolio_menu {
        display: block;
        margin: 0 auto 60px;
        text-align: center;
        button {
            border: 1px solid #ffd2ca;
            font-family: $fontspectral;
            font-size: 18px;
            line-height: 24px;
            font-weight: $f-weight-bold;
            color: $theme-colortwo;
            outline: none;
            text-transform: capitalize;
            display: inline-block;
            padding: 12px 29px;
            outline: none;
            border-radius: 50px;
            background: transparent;
            margin-right: 25px;
            transition: all 0.5s;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                background: $theme-bg;
                border-color: $theme-bg;
                color: $color-white;
            }
        }
    }
    // portfolio menu css end
    .portfolio_details {
        position: relative;
        margin-bottom: 30px;
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $theme-bg;
            content: "";
            border-radius: 5px;
            @include transition(0.5s);
            opacity: 0;
            visibility: hidden;
        }
        a {
            display: inline-block;
            width: 100%;

            img {
                width: 100%;
                max-width: 100%;
                border-radius: 5px;
            }
        }
        .portfolio_content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%) translate3d(0, 50px, 0);
            opacity: 0;
            visibility: hidden;
            @include transition(0.5s);
            text-align: center;
            width: 100%;
            padding: 0 30px;
            .portfolio_heading {
                color: $color-white;
                font-size: 22px;
                font-family: $fontkarla;
                font-weight: $f-weight-bold;
                text-transform: $text-cap;
                margin-bottom: 20px;
            }
            .portfolio_btnm {
                color: $color-white;
                font-size: $f-size;
                font-family: $fontkarla;
                font-weight: $f-weight-r;
                text-transform: $text-cap;
                text-decoration: none;
                display: inline-block;
                @include transition(0.5s);
                margin: 0 auto;
            }
            .portfolio_pra {
                font-size: $f-size;
                font-family: $fontkarla;
                font-weight: $f-weight-r;
                color: $color-white;
            }
        }
        &:hover {
            &::before {
                opacity: 0.7;
                visibility: visible;
            }
            .portfolio_content {
                transform: translate(-50%) translate3d(0, 0px, 0);
                opacity: 1;
                visibility: visible;
                z-index: 2;
            }
        }
    }
    // portfolio description end
    // .View_details {
    //     margin-top: 30px;
    //     margin-bottom: 50px;
    // }
}
/*========================= home three project gallery ====================*/
.project_gallery.home2pglly {
    padding: 90px 0 0;
    .portfolio_dts_item {
        position: relative;
        background-color: transparent;
        border: none !important;
        padding: 0;
        box-shadow: none !important;
        margin-bottom: 30px;
        .portfolio_item_img {
            position: relative;
            &::before {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                content: "";
                background-color: rgba(0,0,0,0.7);
                transition: all 0.4s;
                opacity: 0;
                visibility: hidden;
            }
            .port_img {
                margin-bottom: 0;
            }
            .popupimg{
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                transform: translateY(-50%) translate3d(0,30px,0);
                content: "";
                text-decoration: none;
                background-color: $theme-bg;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                @include transition (0.5s);
                opacity: 0;
                visibility: hidden;
                z-index: 5;
                i {
                    font-size: 18px;
                    color: $color-white;
                    line-height: 1;
                }

            }
        }

        .prot_content {
            margin-top: 12px;
            @include transition(0.5s);
            .portfolio_dts_heading {
                font-family: $fontkarla;
                color: $theme-colortwo;
                font-size: 24px;
                font-weight: $f-weight-bold;
            }
            .portfolio_dts_pra {
                font-family: $fontkarla;
                color: $theme-color;
                font-size: $f-size;
                font-weight: $f-weight-bold;
            }
        }
        &:hover {
            .portfolio_item_img::before {
                opacity: 1;
                visibility: visible;
            }
            .popupimg{
                transform: translateY(-50%) translate3d(0,0,0);
                content: "";
                opacity: 1;
                visibility: visible;
            }
            .prot_content {
                transform: translateY(-80px);
                z-index: 5;
                .portfolio_dts_heading {
                    color: $theme-bg;
                }
                .portfolio_dts_pra {
                    color: $theme-bg;
                }
            }
        }
    }
    .View_details {
        .View_more.Secondary_Btn {
            font-size: $f-size;
            font-family: $fontspectral;
            font-weight: $f-weight-bold;
        }
    }
}

/*========================= home three project gallery ====================*/

.project_gallery.home3projgallery {
    padding: 60px 0 50px;
    // background-image: linear-gradient( 142deg, rgb(38,109,232) 29%, rgb(212,128,236) 72%, rgb(119,42,219) 99%);
    background: #fff url(../image/banner/portfolio-bg.jpg) no-repeat center/cover;
    // opacity: 0.102;
    z-index: -1;
    &::before {
        display: none;
    }

    .portfolio_dts_item {
        background-color: $color-white;
        border: 1px solid #dfdfdf;
        padding-left: 30px;
        margin-bottom: 30px;
        border-radius: 5px;
        padding-bottom: 15px;
        @include transition(0.5s);
        img {
            max-width: 100%;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 12px;
        }
        .portfolio_dts_heading {
            color: $theme-colortwo;
            font-size: 24px;
            font-weight: $f-weight-bold;
            font-family: $fontkarla;
            line-height: 32px;
        }
        .portfolio_dts_pra {
            color: $theme-color;
            font-size: 18px;
            font-weight: $f-weight-bold;
            font-family: $fontkarla;
        }
        &:hover {
            box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(27, 33, 47, 0.08);
            border-color: $color-white;
            cursor: pointer;
        }
    }
}
