@media (max-width: 1366px) {
    .banner_header {
        .left_hero_wrap {
            .hero_lftsld_cont {
                margin-bottom: 60px;
                .hero_heading {
                    font-size: 48px;
                    line-height: 60px;
                    max-width: 550px;
                }
                .hero_pra {
                    margin-bottom: 40px;
                }
                a.primary_Btn {
                    padding: 10px 32px;
                }
            }
            .hero_socical_media {
                ul {
                    li {
                        display: inline-block;
                        list-style: none;
                        margin-right: 35px;
                        a {
                            display: inline-block;
                            font-size: 18px;
                            color: $theme-color;
                            text-decoration: none;
                            @include transition(0.5s);
                            &:hover {
                                color: $theme-bg;
                            }
                        }

                        &:first-child {
                            margin-right: 40px;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .img_right_slide {
            position: relative;
            z-index: 4;
            &::before {
                background-color: #01aeb2;
                opacity: 0.2;
                position: absolute;
                left: auto;
                top: -45px;
                width: 461px;
                height: 679px;
                z-index: -1;
                content: "";
                right: -45px;
                transform: skew(0deg, -5deg);
            }
        }
    }
    /*=========================home page about ====================*/
    .about_wrap {
        .chose_noise_one {
            display: none;
        }
        .chose_noise_two {
            display: none;
        }
        .chose_noise_three {
            display: none;
        }
    }
    /*=========================home page why_choseus_wrap ====================*/
    .why_choseus_wrap {
        .chose_noise_one {
            top: 100px;
            left: 215px;
        }
        .chose_noise_two {
            display: none;
        }
        .chose_noise_three {
            display: none;
        }
        .chose_noise_four {
            display: none;
        }
        .chose_noise_eight {
            display: none;
        }
    }
    /*=========================home page why_choseus_wrap ====================*/
    .happy_client_wrap.home_One {
        padding: 100px 0 80px;
        .mb30 {
            margin-bottom: 0;
        }
    }
    /*=========================home page footer_wrap ====================*/
    .footer_wrap {
        padding: 100px 0 75px;
    }
    /*=========================home  ====================*/
}
@media (max-width: 1024px) {
    .banner_header {
        padding-top: 230px;
        padding-bottom: 130px;
    }
    .banner_header .left_hero_wrap .hero_lftsld_cont .hero_heading {
        font-size: 40px;
        line-height: 55px;
        max-width: 480px;
    }
    .banner_header .left_hero_wrap .hero_lftsld_cont {
        margin-bottom: 35px;
    }
    .banner_header .img_right_slide::before {
        top: -30px;
        width: 444px;
        height: 560px;
    }
    /*=========================home page about ====================*/
    .about_wrap {
        padding: 80px 0 60px;
    }
    .about_right_slide .about_right_head {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (min-width: 992px) {
    .sesio_header {
        .header_nav {
            .Sesio_header_menu {
                ul {
                    li.nav-item {
                        padding-bottom: 40px;
                        margin-bottom: -40px;
                        .dropdown-menu {
                            display: block;
                            margin: 64px 0 0;
                            left: 0;
                            top: 0;
                            min-width: max-content;
                            transform: translate(-30px, 10px);
                            box-shadow: $btn-shadow;
                            opacity: 0;
                            visibility: hidden;
                        }
                        &:hover {
                            .dropdown-menu {
                                opacity: 1;
                                visibility: visible;
                                transform: translate(-30px, 0);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .sesio_header {
        .container {
            .Sesio_header_menu {
                background-color: $color-white;
                padding: 0 30px;
                .Custom_ul {
                    display: block;
                    padding: 20px 0 15px;
                    li {
                        margin-left: 0 !important;
                        margin-bottom: 8px;
                        display: block;
                        a {
                            &::before {
                                width: 0% !important;
                            }
                            &::after {
                                right: 0;
                            }
                        }
                        .dropdown-menu {
                            padding: 18px 40px 20px 0 !important;
                            margin: 0 0 22px;
                            border-bottom: 1px solid #e1e5ec !important;
                            border-radius: 0 !important;
                            transition: unset !important;
                            width: 100% !important;
                            li {
                                display: block;
                            }
                            a {
                                padding-left: 40px;
                            }
                        }
                    }
                }
                .get_register {
                    margin-left: 0;
                    a {
                        position: static;
                        width: 100%;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        &.fixedMenu {
            .header_nav {
                .get_register {
                    a {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .banner_header {
        padding-top: 130px;
        padding-bottom: 70px;
        .left_hero_wrap{
            .hero_lftsld_cont {
                .hero_heading {
                    font-size: 34px;
                    line-height: 45px;
                } 
             }
        }

        .img_right_slide{
            &::before {
                display: none;
            }
        }
    }
    // about sesio
    .about_wrap {
        padding: 80px 0 40px;
    }
    .about_right_slide .about_right_head {
        margin-bottom: 20px;
    }
    .about_right_slide .about_right_pra {
        margin-bottom: 15px;
    }
    .about_right_slide .about_right_pra, .about_right_slide .about_right_pratwo {
        font-size: 16px;
    }
    .about_right_slide a.primary_Btn {
        font-size: 16px;
        padding: 10px 20px;
    }
    .about_left_img::before {
        width: 360px;
        height: 320px;
        bottom: -30px;
        right: -30px;
    }
    .about_right_slide {
        margin-left: 50px;
        margin-top: 0;
    }
    .about_right_slide .about_right_pratwo {
        margin-bottom: 35px;
    }
    // project gallery
    .project_gallery {
        padding: 40px 0 80px ;
    }
    .project_gallery .portfolio_menu button {
        margin-right: 8px;
    }
    .project_gallery .portfolio_details .portfolio_content {
        left: 50%;
        top: 18%;
        -webkit-transform: translate(-50%) translate3d(0, 50px, 0);
        transform: translate(-18%) translate3d(0, 50px, 0);
        padding: 0 10px;
    }
    .project_gallery .portfolio_details .portfolio_content .portfolio_heading {
        font-size: 20px;
    }
    .project_gallery .portfolio_details .portfolio_content .portfolio_pra {
        font-size: 16px;
    }
    .project_gallery .portfolio_viemore {
        padding-bottom: 20px;
    }
    .Our_services .single_service .service_content .servicehead {
        font-size: 22px;
    }
    // our service
    .Our_services .single_service .service_img {
        width: 75px;
        height: 75px;
        line-height: 75px;
    }
    .why_choseus_wrap .about_left_img {
        margin-top: 100px;
    }
    .View_details.mt30 {
        margin-top: 0;
    }
    // why choose us
    .why_choseus_wrap { 
        padding: 80px 0;
        .choseus_left{
            padding-top: 0;
        }
        .about_left_img {
            &::before {
                display: none;
            }
            .video_pattern {
                img {
                    display: none;
                }
            }
        }
    }
    .why_choseus_wrap .choseus_left .choseus_left_check ul li a {
        font-size: 16px;
    }
    .View_more.Secondary_Btn {
        font-size: 16px;
        padding: 12px 30px;
    }
    // global heading
    .glbal_min_head {
        font-size: 30px;
        line-height: 40px;
    }
    p {
        font-size: 16px;
    }
    // happy client area
    .happy_client_wrap.home_One {
        padding: 80px 0 50px;
    }
    .countdwrapper .happy_count {
        font-size: 36px;
        line-height: 38px;}
        .happy_client_wrap .glbal_min_head {
            margin: 0 0 40px 0;
        }
        // testimonial area
        .testimonial_slider .testimonial_item .test_itwrap .testimonial_profile .testimonial_details h4 {
            font-size: 20px;
            line-height: 30px;
        }
        .testimonial_slider .testimonial_item .test_itwrap .testimonial_pra {
            font-size: 16px;
        }
        .testimonial_slider .testimonial_item .test_itwrap .testimonial_pra {
            margin-bottom: 20px;
        }
        // newsletter area
        .newsletter_wrap {
            padding: 80px 0;
            margin-left: 0;
        }
        .newsletter_heading .newsletter_title {
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 12px;
        }
        .newsletter_heading p {
            font-size: 16px;
            margin-bottom: 30px;
        }
        // footerwrap
        .footer_wrap {
            padding: 80px 0 75px;
        }
        .footer_wrap .rombspace .footer_widget a img {
            margin-bottom: 30px;
        }
        .footer_wrap .rombspace .footer_widget p {
            font-size: 16px;
        }
        .footer_wrap .rombspace .footer_widget .footer_menu li {
            margin-bottom: 10px;
        }
        .footer_wrap .rombspace .footer_widget .footer_menu li a {
            font-size: 16px;
        }
        .footer_wrap .rombspace {
            margin-bottom: 15px;
        }
}

@media (max-width:768px) {
    .banner_header .left_hero_wrap .hero_lftsld_cont .hero_pra {
        margin-bottom: 30px;
    }
    .banner_header .left_hero_wrap .hero_lftsld_cont a.primary_Btn {
        padding: 10px 30px;
        min-width: auto;
        font-size: 16px;
    }

    
}
@media (max-width:680px) {

}
@media (max-width:576px) {

}
@media (max-width:480px) {

}
@media (max-width:420px) {

}
@media (max-width:380px) {

}
@media (max-width:360px) {

}



