/*========================= service ====================*/
// first row service heading
.services_mt {
    margin-top: 60px;
    .glbal_min_head {
        margin-bottom: 45px;
    }
}
.Our_services {
    
    .single_service {
        padding: 15px 10px 15px;
        @include transition (0.5s);
        border: 1px solid #d1cfce;
        border-radius: 5px;
        .service_img {
            position: relative;
            display: block;
            overflow: hidden;
            background: $theme-bg;
            margin-right: 8px;
            padding: 15px;
            width: 90px;
            height: 90px;
            line-height: 90px;
            border-radius: 50%;
            @include transition(0.5s);
            img {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                & + img {
                    position: absolute;
                    top: 100%;
                    -webkit-transform: translateY(0);
                    -ms-transform: translateY(0);
                    transform: translateY(0);
    
                }
            }

        }
        .service_content {
            .servicehead {
                font-size: 30px;
                font-weight: $f-weight-bold;
                font-family: $fontspectral;
                color: $theme-colortwo;
                text-transform: $text-cap;
                @include transition(0.5s)
            }

        }
        &:hover {
            .service_img {
                background-color: $color-white;
            }
        }
        &:hover {
            background: $theme-bg;
            border: 1px solid $theme-bg;
        }
        &:hover {
            img {
                top: -100%;
                transform: translateY(0);
                & + img {
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);;
    
                }
            }
        }
        &:hover {
            .service_content {
                .servicehead {
                    color: $color-white;
                }
    
            }
        }

    }
}


/*========================= home two service ====================*/

.service_hometwo_wrap {
    background-color: $color-white;
    padding: 150px 0 60px;
}
.service_item_wrap {
    background: #fdf8e8;
    @include transition(0.5s);
    border-radius: 5px;
    padding: 40px 12px;
    a {
        display: inline-block;
        width: 90px;
        height: 90px;
        background: #fddb64;
        line-height: 90px;
        border-radius: 50%;
        @include transition(0.5s);
        img {

        }
    }
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
        
    }
    .service_item_title {
        font-size: 30px;
        font-weight: $f-weight-bold;
        color: $theme-colortwo;
        text-transform: $text-cap;
    }
}

/*========================= home three service ====================*/
.service_homethree_wrap{
    background-color: $color-white;
    padding: 100px 0;
    .glbal_title{
        position: relative;
        display: inline-block;
        z-index: 104;
        &::before {
            position: absolute;
            left: 0;
            bottom: 6px;
            width: 100%;
            display: inline-block;
            content: "";
            height: 1px;
            background: $theme-bg;
            @include transition(0.5s);
            z-index: -1;

        }
        &:hover {
            &::before {
                height: 5px;
                z-index: -1;
            }
        }
    }
    .service_item_wrap{
        background-color: $color-white;
        border: 1px solid #e8e8e8;
        padding: 30px;
        .service_item_title{
            margin-bottom: 15px;
        }
        p {
            color: $theme-color;
            font-size: 16px;
            line-height: $f-hight;
            font-weight: $f-weight-r;
            font-family: $fontkarla;
        }
        &:hover {
            border: 1px solid $color-white;
            box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(27, 33, 47, 0.08);
        }
        
    }
}
