/*========================= testimonial ====================*/
.happy_client_wrap {
    background-color: #d8d2e8;
    padding: 100px 0;
    .client_prof {
        position: relative;
        display: inline-block;
        padding: 15px;
        border-radius: 50%;
        margin-bottom: 30px;
        a {
            display: inline-block;
            background-color: #fddb64;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }
        .client_border {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px solid #eeeef0;
            top: 0;
            left: 0;
            border-radius: 50%;
            animation: move 10s linear infinite;

            &::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background: #01aeb2;
                left: 0;
                border-radius: 50%;
                line-height: 0px;
                top: 35px;
            }
            &::after {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background: #ff6b4f;
                right: 0;
                border-radius: 50%;
                line-height: 10px;
                bottom: 35px;
            }
        }
    }
    .happy_details {
        font-family: $fontspectral;
        font-size: 24px;
        line-height: 28px;
        font-weight: $f-weight-bold;
        color: $theme-colortwo;
        text-transform: $text-cap;
        margin-bottom: 24px;
    }
    .happy_count {
        font-family: $fontspectral;
        font-size: 48px;
        line-height: 46px;
        font-weight: $f-weight-bold;
        color: $theme-colorfour;
    }
    // second row
    .glbal_title {
        text-align: left;
        margin-bottom: 14px;
    }
    .glbal_min_head {
        text-align: left;
        max-width: 390px;
        width: 100%;
        margin: 0;
    }
    /* 3rd row*/ 
    .testimonial_slider {
        .testimonial_item{
            border: 1px solid #ebebeb;
            padding: 45px 30px ;
            margin: 0 15px;
            border-radius: 10px;
            outline: none;
            background-color: $color-white;
            @include transition(0.5s);
            .testimonial_pra{
                font-family: $fontkarla;
                font-size: $f-size;
                line-height: $f-hight;
                font-weight: $f-weight-r;
                color: $theme-colorthree;
                margin-bottom: 60px;
            }
            .testimonial_profile{
                .testimonial_details{
                    h4 {
                        font-family: $fontspectral;
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: $f-weight-bold;
                        color: $theme-colortwo;
                        text-transform: $text-cap;
                    }
                    p {
                        font-family: $fontspectral;
                        font-size: 16px;
                        line-height: 36px;
                        font-weight: $f-weight-bold;
                        color: $theme-colortwo;
                        text-transform: $text-cap;
                    }
                }
                .testimonial_review{
                    ul{
                        li {
                            margin-right: 5px;
                            &:last-child {
                                margin-right: 0;
                            }
                            a {
                                font-size: 16px;
                                color: #f7bd01;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            &:hover {
                box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(1, 174, 178, 0.06);
                border: 1px solid $color-white;
            }
        }

    }
}
@keyframes move {
    0% {
        transform: rotate(-360deg);
    }
}



