/*========================= testimonial ====================*/

.happy_client_wrap {
    background-color: $color-white;
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    &::before {
        position: absolute;
        content: "";
        background-image: linear-gradient(334deg, #f4f8fe 50%, #ffffff 50%) !important;
        width: 100%;
        height: 100%;
    }
    .glbal_title {
        text-align: left;
        margin-bottom: 14px;
    }
    .glbal_min_head {
        text-align: left;
        max-width: 390px;
        width: 100%;
        margin: 0 0 54px 0;
    }
}

/*========================= Testimonials header style ====================*/
// .glbal_title {
//     text-align: left;
//     margin-bottom: 14px;
// }
// .glbal_min_head {
//     text-align: left;
//     max-width: 390px;
//     width: 100%;
//     margin: 0 0 54px 0;
// }
/*========================= Testimonials carousel ====================*/
.testimonial_slider {
    .slick-arrow {
        background-color: $color-white;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        z-index: 1;
        @include transition(0.5s);
        box-shadow: none;
        outline: none;
        position: absolute;
        top: -130px;
        box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(51, 51, 51, 0.1);
        &::before {
            font-family: "eleganticons";
            @include transition(0.5s);
            font-weight: $f-weight-semi;
            color: $theme-colortwo;
            line-height: initial;
            transform: translateY(-50%);
            top: 50%;
        }
        &:hover {
            background-color: $theme-bg;
            box-shadow: none;
            &::before {
                color: $color-white;
            }
        }
    }
    .slick-prev {
        position: absolute;
        left: auto;
        right: 95px;
        &::before {
            content: "\23";
        }
    }
    .slick-next {
        position: absolute;
        left: auto;
        right: 15px;
        &::before {
            content: "\24";
        }
    }

    .testimonial_item {
        outline: none;
        .test_itwrap {
            border: 1px solid #ebebeb;
            padding: 45px 30px;
            background-color: $color-white;
            border-radius: 10px;
            outline: none;
            margin-bottom: 30px;
            @include transition(0.5s);
            .testimonial_pra {
                font-family: $fontkarla;
                font-size: $f-size;
                line-height: $f-hight;
                font-weight: $f-weight-r;
                color: $theme-colorthree;
                margin-bottom: 60px;
            }
            .testimonial_profile {
                .testimonial_details {
                    h4 {
                        font-family: $fontspectral;
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: $f-weight-bold;
                        color: $theme-colortwo;
                        text-transform: $text-cap;
                    }
                    p {
                        font-family: $fontspectral;
                        font-size: 16px;
                        line-height: 36px;
                        font-weight: $f-weight-bold;
                        color: $theme-colortwo;
                        text-transform: $text-cap;
                    }
                }
                .testimonial_review {
                    ul {
                        li {
                            margin-right: 5px;
                            &:last-child {
                                margin-right: 0;
                            }
                            a {
                                font-size: 16px;
                                color: #f7bd01;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            &:hover {
                box-shadow: -4.77px 15.541px 22.4px 1.6px rgba(255, 107, 79, 0.06);
                border: 1px solid $color-white;
            }
        }
    }
}
/*========================= Home page two ====================*/
.our_customer_wrap {
    background-color: $theme-colortwo;
    padding: 100px 0;
}
// .happy_details {
//     color: $theme-colortwo;
// }
// .happy_count {
//     color: $theme-colortwo;
// }

.home_two_testimonial_wrap {
    position: relative;
    overflow-x: hidden;
    padding: 110px 0 70px;
    &::before {
        position: absolute;
        left: 60px;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        content: "";
        background-color: rgb(37, 200, 224);
        opacity: 0.031;
        border-bottom-left-radius: 80px;
    }
    .glbal_title {
        text-align: left;
        color: $theme-color;
    }
    .glbal_min_head {
        text-align: left;
        margin-left: 0;
        color: $theme-colortwo;
        margin-bottom: 45px;
    }
}

/*========================= Home page three ====================*/
.testimonial_wrap {
    padding: 50px 0 115px;
    background-color: $color-white;
    // .glbal_title {

    // }
    // .glbal_min_head {

    // }
    /*---------------testimonial design---------------------*/
    .testimonial_item_active {
        .test_single_item {
            outline: none;
            img {
                margin: 0 auto 23px;
                text-align: center;
            }
            .test_single_pra {
                font-size: 24px;
                font-family: $fontspectral;
                line-height: 34px;
                font-weight: $f-weight-medium;
                color: $theme-color;
                font-style: italic;
                max-width: 780px;
                width: 100%;
                margin: 0 auto 20px;
            }
            .testimonial_review {
                ul {
                    margin-bottom: 25px;
                    li {
                        margin-right: 10px;
                        a {
                            color: #f7bd01;
                            text-decoration: none;
                            outline: none;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            .border_line {
                max-width: 555px;
                width: 100%;
                height: 1px;
                background-color: #d1cfce;
                margin: 0 auto 20px;
            }
            .test_profile_item {
                font-size: 30px;
                font-weight: $f-weight-bold;
                color: $theme-colortwo;
                line-height: 46px;
                font-family: $fontspectral;
            }
            .test_profile_pra {
                font-family: $fontkarla;
                font-weight: $f-weight-r;
                color: $theme-color;
                font-size: $f-size;
                line-height: 32px;
                margin-bottom: 20px;
                span {
                    font-weight: $f-weight-bold;
                }
            }
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            outline: none;
            box-shadow: -4.77px 24.541px 87.4px 7.6px rgba(51, 51, 51, 0.1);
            background-color: $color-white;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            z-index: 1;
            @include transition(0.5s);
            &::before {
                font-family: "eleganticons";
                color: #643c7b;
                font-weight: 600;
                @include transition(0.5s);
            }
            &.slick-prev {
                &::before {
                    content: "\23";
                }
            }
            &.slick-next {
                &::before {
                    content: "\24";
                }
            }
            &:hover {
                background-color: $theme-bg;
                box-shadow: none;
                &::before {
                    color: $color-white;
                }
            }
        }
    }
    // second slider item
    .testimonial-img-active {
        width: 380px;
        max-width: 100%;
        margin: 0 auto;
        .slick-track {
            display: flex;
            align-items: center;
            justify-content: center;
            .img-item {
                display: block;
                outline: none;
                position: relative;
                z-index: 3;
                img {
                    display: inline-block;
                    transform: scale(1.2);
                }
                &.slick-active {
                    position: relative;
                    z-index: 3;
                }
                &.slick-center {
                    transform: scale(1.4);
                    position: relative;
                    z-index: 5;
                    height: 120px !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
