/*========================= testimonial ====================*/
.happy_client_wrap {
    background-color: #d8d2e8;
    padding: 100px 0;
    .client_prof {
        position: relative;
        display: inline-block;
        padding: 15px;
        border-radius: 50%;
        margin-bottom: 30px;
        a {
            display: inline-block;
            background-color: #fddb64;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }
        .client_border {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px solid #eeeef0;
            top: 0;
            left: 0;
            border-radius: 50%;
            animation: move 10s linear infinite;

            &::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background: #01aeb2;
                left: 0;
                border-radius: 50%;
                line-height: 0px;
                top: 35px;
            }
            &::after {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background: #ff6b4f;
                right: 0;
                border-radius: 50%;
                line-height: 10px;
                bottom: 35px;
            }
        }
    }
    .happy_details {
        font-family: $fontspectral;
        font-size: 24px;
        line-height: 36px;
        font-weight: $f-weight-bold;
        color: $theme-colortwo;
    }
}
@keyframes move {
    0% {
        transform: rotate(-360deg);
    }
}
// @keyframes move2 {
//     0% {
//         transform: rotate(360deg);
//     }
// }
