

/*Base font*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*================================== all variable  ================================*/
$fontkarla: "Karla", sans-serif;
$fontspectral: "Spectral", serif;
$f-size: 18px;
$f-hight: 26px;
$f-weight-r: 400;
$f-weight-medium: 500;
$f-weight-semi: 600;
$f-weight-bold: 700;
$text-up: uppercase;
$text-cap: capitalize;
$theme-color: #494d59;
$color-white: #ffffff;
$theme-colortwo: #1b212f;
$theme-colorthree: #333333;
$theme-colorfour: #666666;
$theme-bg: #ff6b4f;
$btn-shadow: -4.77px 24.541px 87.4px 7.6px rgba(255, 107, 79, 0.12);
$mb15: 15px;
$mb20: 20px;
$mb25: 25px;
$mb30: 30px;
$mb40: 40px;
$mb55: 55px;
$mt30: 30px;
$mb50: 50px;
$pt50: 50px;
$pb50: 50px;